includes:
    - phpstan-baseline.neon
    - vendor-bin/phpstan/vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor-bin/phpstan/vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: max
    paths:
        - src
    stubFiles:
        - .stubs/Psr/Http/Message/StreamInterface.phpstub
        - .stubs/Psr/Http/Message/UriInterface.phpstub
        - .stubs/Psr/Http/Message/MessageInterface.phpstub
        - .stubs/Psr/Http/Message/RequestInterface.phpstub
        - .stubs/Psr/Http/Message/ResponseInterface.phpstub
        - .stubs/Http/Promise/Promise.phpstub
        - .stubs/Http/Client/Common/Plugin.phpstub
    ignoreErrors:
        - '#return type has no value type specified in iterable type array#'
        - '#no value type specified in iterable type array#'
        - '#^Parameter \#1 \$parameters of class DigitalOceanV2\\Entity\\.+ constructor expects array\|object\|null, mixed given\.$#'
