parameters:
	ignoreErrors:
		-
			message: "#^Property DigitalOceanV2\\\\Api\\\\AbstractApi\\:\\:\\$page is never written, only read\\.$#"
			count: 1
			path: src/Api/AbstractApi.php

		-
			message: "#^Property DigitalOceanV2\\\\Api\\\\AbstractApi\\:\\:\\$perPage is never written, only read\\.$#"
			count: 1
			path: src/Api/AbstractApi.php

		-
			message: "#^Offset 'file' does not exist on array\\{function\\: string, line\\?\\: int, file\\?\\: string, class\\?\\: class\\-string, type\\?\\: '\\-\\>'\\|'\\:\\:', args\\?\\: array, object\\?\\: object\\}\\.$#"
			count: 1
			path: src/Entity/AbstractEntity.php

		-
			message: "#^Offset 'line' does not exist on array\\{function\\: string, line\\?\\: int, file\\?\\: string, class\\?\\: class\\-string, type\\?\\: '\\-\\>'\\|'\\:\\:', args\\?\\: array, object\\?\\: object\\}\\.$#"
			count: 1
			path: src/Entity/AbstractEntity.php

		-
			message: "#^Variable property access on \\$this\\(DigitalOceanV2\\\\Entity\\\\AbstractEntity\\)\\.$#"
			count: 4
			path: src/Entity/AbstractEntity.php

		-
			message: "#^Method DigitalOceanV2\\\\HttpClient\\\\Message\\\\ResponseMediator\\:\\:getPagination\\(\\) should return array\\<string, string\\> but returns array\\<string, mixed\\>\\.$#"
			count: 1
			path: src/HttpClient/Message/ResponseMediator.php

		-
			message: "#^Variable method call on DigitalOceanV2\\\\Api\\\\AbstractApi\\.$#"
			count: 1
			path: src/ResultPager.php

