includes:
    - phpstan-baseline.neon
    - vendor-bin/phpstan/vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor-bin/phpstan/vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor-bin/phpstan/vendor/thecodingmachine/phpstan-strict-rules/phpstan-strict-rules.neon

rules:
    - Ergebnis\PHPStan\Rules\Closures\NoNullableReturnTypeDeclarationRule
    - Ergebnis\PHPStan\Rules\Expressions\NoCompactRule
    - Ergebnis\PHPStan\Rules\Expressions\NoEmptyRule
    - Ergebnis\PHPStan\Rules\Expressions\NoEvalRule
    - Ergebnis\PHPStan\Rules\Files\DeclareStrictTypesRule
    - Ergebnis\PHPStan\Rules\Methods\PrivateInFinalClassRule

parameters:
    level: max
    paths:
        - src
    checkMissingIterableValueType: false
    stubFiles:
        - .stubs/Psr/Http/Message/StreamInterface.phpstub
        - .stubs/Psr/Http/Message/UriInterface.phpstub
        - .stubs/Psr/Http/Message/MessageInterface.phpstub
        - .stubs/Psr/Http/Message/RequestInterface.phpstub
        - .stubs/Psr/Http/Message/ResponseInterface.phpstub
        - .stubs/Http/Promise/Promise.phpstub
        - .stubs/Http/Client/Common/Plugin.phpstub
